.container{
    width: 80%;
    margin: 40px auto;
    font-family: Arial;
}

.form{
    margin-bottom: 30px;
}

input{
    padding: 8px;
    margin: 8px;
    border-color: rgb(109, 102, 192);
}

button{
    padding: 8px 15px;
    background-color: #5b7cfa;
    color: white;
    border: none;
    cursor: pointer;
}

.event-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.event-card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    
}

.event-card h3{
  
    color: #5b7cfa;
}

.add-event-wrapper{
display: flex;
justify-content: center;
margin-top: 40px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add-card{
width: 350px;
text-align: center;
}
.event-card{
box-shadow: 0 4px 15px rgba(18, 5, 248, 0.1);
}

.event-card:hover{
transform: translateY(-5px);
 
}