
.main-container{
    display: flex;
}

.navers{
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: #5b7cfa;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.navers button{
    padding: 10px;
    border: none;
    background: transparent; /* no highlight */
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.navers a{
    text-decoration: none;
    color: rgb(11, 4, 87);
    font-size: 16px;
    display: block;
    width: 100%;
}

.navers button:hover{
    background-color: rgba(255,255,255,0.2);
}

.content{
    margin-left: 240px;
    padding: 20px;
    width: 100%;
}